body{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 13vh 53vh 30vh;
    gap: 10px;
    background-image: url(./img/träskiva.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#r{
    grid-column: 1/4;
    grid-row: 1/2;
}
#rubrik{
    text-align: center;
}
.ingredienser{
    margin-top: 5px;
}
.lista{
    grid-column: 1/2;
    grid-row: 2/3;
}
ul{
    margin-left: 70px;
}
#bilding{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.servering{
    margin-top: 1px;
}
#rub2{
    margin-bottom: 2px;
}
#bilder{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3/4;
}
.bild{
    height: 50px;
    width: 50px;
}
h2{
    text-align: center;
}
#text{
    grid-column: 2/3;
    grid-row: 2/3;
}
#jordgubbspaj{
    height: 150px;
    width: 210px;
    grid-template-columns: 3/4;
    grid-template-rows: 2/3;
    margin-left: 60px;
}
a{
    color: ghostwhite;
    display: flex;
    flex-direction: column;
}
#länkar{
    grid-template-columns: 3/4;
    grid-template-rows: 3/4;
    text-align: center;
}